*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $color-text1;
  background-color: $color-bg1;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
}

a {
  color: $color-text1-80;
  text-decoration: none;
}

h2 {
  font-size: 65px;
  line-height: 85px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 25px;
  color: $color-text2;

  @include vp-1023 {
    font-size: 35px;
  line-height: 40px;
  }

  @include vp-639 {
    font-size: 25px;
  line-height: 30px;
  }
}

h3 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 600;

  @include vp-1439 {
    font-size: 22px;
    line-height: 31px;
  }

  @include vp-1023 {
    font-size: 14px;
    line-height: 16px;
  }

  @include vp-639 {
    font-size: 16px;
    line-height: 20px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
