// Colors

$color-bg1: #ffffff;
$color-bg2: #F6F7F9;
$color-text1: #131314;
$color-text2: #1a1a1a;

$color-bg1-10: rgba(255, 255, 255, 0.1);
$color-text1-04: rgba(19, 19, 20, 0.04);
$color-text1-15: rgba(19, 19, 20, 0.15);
$color-text1-10: rgba(19, 19, 20, 0.1);
$color-text1-40: rgba(19, 19, 20, 0.4);
$color-text1-80: rgba(19, 19, 20, 0.8);



// Viewport

$vp-middle: 1439px;
$vp-tablet: 1023px;
$vp-mobile: 639px;
