.business {
  padding: 25px 0;

  &__block {
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    background-color: $color-bg2;
    padding: 60px 90px;
    border-radius: 60px;
    align-items: center;
    min-height: 480px;
    justify-content: space-between;
    position: relative;

    @include vp-1439 {
      padding: 40px 0 40px 40px;
    }

    @include vp-1023 {
      border-radius: 47px;
      padding: 35px 0 35px 35px;
      min-height: 380px;
    }

    @include vp-639 {
      flex-direction: column-reverse;
      padding: 15px 0;
    }

    &-container {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include vp-1023 {
        gap: 16px;
      }

      @include vp-639 {
        width: 100%;
        padding: 0 17px 30px;
        align-items: center;
      }
    }

    &-title {
      font-size: 45px;
      line-height: 55px;
      font-weight: 500;
      margin: 0;

      @include vp-1023 {
        font-size: 20px;
        line-height: 28px;
      }

      @include vp-639 {
        font-size: 25px;
        line-height: 110%;
        text-align: center;
      }
    }

    &-description {
      font-size: 18px;
      line-height: 26px;
      margin: 0;

      @include vp-1023 {
        font-size: 16px;
        line-height: 20px;
      }

      @include vp-639 {
        font-size: 18px;
        line-height: 115%;
        text-align: center;
      }
    }

    &-link {
      width: 238px;
      display: flex;
      justify-content: center;
      border-radius: 16px;
      padding: 20px;
      font-size: 20px;
      line-height: 17px;
      font-weight: 500;
      background: linear-gradient(214.48deg, #333333 -2.66%, #464646 53.33%, #262626 107.12%);
      color: $color-bg1;

      @include vp-1023 {
        width: 188px;
        border-radius: 13px;
        padding: 15px;
        font-size: 16px;
        line-height: 80%;
      }

      @include vp-639 {
        font-size: 18px;
      }
    }

    &-image {
      width: 50%;

      @include vp-639 {
        width: 100%;
      }
    }
  }

  &__list {
    display: flex;
        gap: 32px;
        flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: $color-bg2;
    padding: 50px 25px 25px;
    border-radius: 36px;
    justify-content: end;
    width: calc(33% - 21px);

    @include vp-1439 {
      padding: 40px 16px 35px;
    }

    @include vp-1023 {
      padding: 25px 8px;
      gap: 11px;
    }

    @include vp-639 {
      width: 100%;
      border-radius: 25px;
      gap: 6px;
    }

    &-image {
      margin: 0 0 auto;

      @include vp-639 {
        margin: 0 0 10px;
      }
    }

    &-title {
      font-size: 27px;
      line-height: 30px;
      font-weight: 500;
      margin: 0;
      text-align: center;

      @include vp-1439 {
        font-size: 24px;
      }

      @include vp-1023 {
        font-size: 17px;
      line-height: 22px;
      }

      @include vp-639 {
        font-size: 18px;
      }
    }

    &-description {
      font-size: 18px;
      line-height: 24px;
      margin: 0;
      color: $color-text1-40;
      text-align: center;

      @include vp-1023 {
        font-size: 14px;
        line-height: 20px;
      }

      @include vp-639 {
        margin-bottom: 10px;
      }
    }
  }

}