.consultation{
    background-color: $color-bg2;
    padding: 300px 0 30px;
    position: relative;

    @include vp-1023 {
        padding: 300px 0 50px;
    }
    
    @include vp-639 {
        padding: 140px 0 50px;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        width: 100%;
        height: 190px;
        border-radius: 50%;
        background: $color-bg1;
        border-radius: 0 0 100px 100px;

        @include vp-639 {
            height: 100px;
        }
    }

    &__block {
        display: flex;
        gap: 45px;
        background-color: $color-bg1;
        padding: 50px;
        border-radius: 60px;
        // align-items: center;
        // height: 480px;
        // justify-content: space-between;
        // position: relative;

        @include vp-1023 {
            border-radius: 35px;
            flex-direction: column;
            padding: 25px;
        }

        @include vp-639 {
            gap: 18px;
        }

        &-text {
            width: calc(50% - 22px);
            display: flex;
            flex-direction: column;
            gap: 25px;

            @include vp-1023 {
                width: 100%;
            }
        }
    
        &-title {
            font-size: 45px;
            line-height: 45px;
            font-weight: 700;
            margin: 0;
            color: $color-text2;

            @include vp-1439 {
                font-size: 35px;
            line-height: 35px;
            }

            @include vp-639 {
                font-size: 25px;
                line-height: 29px;
                text-align: center;
            }
        }
    
        &-description {
            font-size: 25px;
            line-height: 32px;
            color: $color-text1-40;
            margin: 0;

            @include vp-639 {
                font-size: 16px;
                line-height: 18px;
                text-align: center;
            }
        }

        &-form {
            width: calc(50% - 22px);
            display: flex;
            flex-direction: column;
            padding: 25px 0 0;

            @include vp-1023 {
                width: 100%;
            }

            & .custom-input__field {
                padding: 22px 10px 22px 15px;
                font-size: 18px;
                line-height: 19px;
        
                &::placeholder {
                    font-size: 18px;
                }
            }

            &-btn {
                display: flex;
                justify-content: center;
                border-radius: 16px;
                padding: 24px;
                font-size: 18px;
                line-height: 17px;
                font-weight: 500;
                background: $color-text1;
                color: $color-bg1;
                margin: 5px 0 15px;
            }

            &-politic {
                font-size: 14px;
                line-height: 20px;
                color: $color-text1-40;
                margin: 0;
                text-align: center;
            }
        }
    }
}