.create {
    padding: 75px 0 90px;

    @include vp-1439 {
        padding: 50px 0 90px;
    }

    @include vp-1023 {
        padding: 50px 0 60px;
    }

    @include vp-639 {
        padding: 40px 0;
    }

    &__description {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        margin: 0 auto 50px;
        color: $color-text1-40;
        max-width: 650px;

        
        @include vp-1023 {
            font-size: 18px;
            line-height: 22px;
        }

        
        @include vp-639 {
            font-size: 16px;
            margin: 0 auto 40px;
        }
    }

    &__form {
        display: flex;
        gap: 45px;
        width: 100%;
        padding: 50px 0;

        @include vp-1023 {
            flex-direction: column;
            padding: 50px 0 30px;
        }

        &-left {
            min-width: calc(50% - 23px);;
        }

        &-title {
            font-size: 35px;
            line-height: 35px;
            font-weight: 500;
            margin: 18px 0 8px;

            @include vp-1023 {
                font-size: 25px;
            }

            @include vp-639 {
                margin: 20px 0 8px;
            }
        }
  
        &-description {
            font-size: 18px;
            line-height: 25px;
            color: $color-text1-40;
            margin: 0 0 20px;
        }

        &-right {
            display: flex;
            flex-direction: column;
            align-items: start;
            min-width: calc(50% - 22px);
            overflow: hidden;
        }

        &-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            border-radius: 16px;
            background-color: #BAFC00;
            padding: 20px;
            font-size: 16px;
            line-height: 17px;
            font-weight: 500;
        }
    }

    &__preview {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-bg2;
        border-radius: 25px;
        min-height: 520px;
        margin-bottom: 25px;

        @include vp-1023 {
            min-height: 250px;
        }

        &-card {
            display: flex;
            flex-direction: column;
            background: url('../../images/create/card-bg.jpg ') no-repeat center;
    background-size: cover;
            border-radius: 17px;
            min-height: 214px;
            min-width: 365px;
            color: #fff;
            padding: 23px 16px;
            box-shadow: 0px 18.04px 20.27px 0px #940C0033;

            @include vp-639 {
                min-width: 270px;
                min-height: 160px;
                padding: 17px 11px;
            }

            &-icon {
                margin: 0 0 auto;

                @include vp-639 {
                    width: 36px;
                    height: 24px;
                }
            }

            &-title {
                font-size: 17px;
                font-weight: 600;

                @include vp-639 {
                    font-size: 12px;
                }
            }

            &-description {
                font-size: 11px;
                line-height: 100%;

                color: rgba(255, 255, 255, 0.88);

                @include vp-639 {
                    font-size: 8px;
                }
            }
        }
    }

    &__choice-bg {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__choice-image {
        display: flex;
        align-items: center;
        background-color: $color-bg2;
        border-radius: 13px;
        min-height: 150px;
        margin-bottom: 35px;
        gap: 20px;
        padding: 47px 0 47px 35px;
        width: 100%;

        @include vp-1023 {
            order: -1;
        }

        @include vp-639 {
            min-height: 85px;
            padding: 25px 0 25px 15px;
            margin-bottom: 0;
        }
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        gap: 12px;
        margin: 0 -20px 0 0;
        padding: 0;

                    &::-webkit-scrollbar {
                display: none;
            }

        // &-btn {
        //     position: absolute;
        // }
    }

    &__item {
        border-radius: 50%;
        overflow: hidden;
        min-width: 57px;
        min-height: 57px;
        max-width: 57px;
        max-height: 57px;

        @include vp-639 {
            min-width: 35px;
            min-height: 35px;
            max-width: 35px;
            max-height: 35px;
        }

        &-image {
            width: 100%;
            height: 100%;
        }
    }

    &__price-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include vp-1023 {
            flex-direction: row;
        }

        @include vp-639 {
            flex-direction: column;
            padding: 0 20px 0 0;
        }
    }

    &__price-title {
        font-size: 20px;
        line-height: 24px;
        color: $color-text1-80;
        font-weight: 600;
        margin: 20px 0 10px;

        @include vp-1023 {
            width: 50%;
        }

        @include vp-639 {
            width: 100%;
        }
    }

    &__price-right {
        display: flex;
        align-items: start;
        flex-direction: column;

        @include vp-1023 {
            width: 50%;
        }

        @include vp-639 {
            width: 100%;
        }
    }

    &__price {
        font-size: 42px;
        line-height: 52px;
        color: $color-text1;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__badge {
        background: radial-gradient(238.93% 187.08% at -20% 110%, #27C80C 9%, #BAFC00 100%);
        border-radius: 48px;
        display: flex;
        align-items: center;
        padding: 4px 8px;
        gap: 4px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 8.8px 0px #0000003D;


        &-text {
            font-size: 11px;
            line-height: 13px;
            color: $color-bg1;
            font-weight: 700;
        }
    }

    &__politic {
        font-size: 12px;
        line-height: 18px;
        color: $color-text1-40;
        margin-bottom: 25px;

        @include vp-1023 {
            margin-bottom: 15px;
        }
    }
}