.tariff {
    padding: 75px 0 50px;

    &__title {
        @include vp-1023 {
            margin-bottom: 35px;
        }
    }

    &__description {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        margin: 0 auto 50px;
        color: $color-text1-40;
        max-width: 650px;

        @include vp-1023 {
            font-size: 18px;
            line-height: 22px;
            max-width: 500px;
        }

        @include vp-639 {
            font-size: 16px;
            margin: 0 auto 25px;
        }
    }

    &__list {
        display: flex;
        // align-items: end;
        gap: 30px;
        // width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 18px;

    }

    &__item {
        width: calc(33% - 20px);

        @include vp-1023 {
            width: calc(50% - 15px);
        }

        @include vp-639 {
            width: 100%;
        }

        &:nth-child(odd) {
            padding: 45px 0 0 0;

            @include vp-1023 {
                padding: 0;
            }
        }
    }

    &__plan {
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 2px solid $color-text1-10;
        padding: 35px;
        border-radius: 32px;
        height: 100%;

        @include vp-1439 {
            padding: 35px 25px;
        }

        @include vp-1023 {
            padding: 35px 15px;
        }

        &-sup-title {
            font-size: 13px;
            line-height: 18px;
            color: $color-text1-40;
            margin: 0;

            @include vp-1439 {
                font-size: 16px;
            }
        }

        &-title {
            font-size: 45px;
            line-height: 45px;
            font-weight: 600;
            margin: 0 0 20px;

            @include vp-1023 {
                font-size: 30px;
                line-height: 35px;
            }
        }

        &-list {
            margin-bottom: 40px;
        }

        &-item {
            padding: 8px 8px 8px 36px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                background: $color-text1-40;
                transform: translateY(-50%);
            }

            &-icon {
                position: absolute;
                left: 7px;
                top: 50%;
                transform: translateY(-50%);
                color: #fff;
            }

            &-text {
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0.03em;
                color: $color-text1-80;
            }

            &-sub {
                font-size: 13px;
                line-height: 17px;
                color: $color-text1-40;
            }

            &--plus {
                &::before {
                    background: radial-gradient(238.93% 187.08% at -20% 110%, #27C80C 9%, #BAFC00 100%);
                }
            }

            &--business {
                &::before {
                    background: radial-gradient(110.94% 210.53% at 0% 100%, #414A56 18.53%, #696B84 77.16%);
                }
            }
        }

        &-price {
            font-size: 55px;
            line-height: 52px;
            font-weight: 700;
            margin: auto 0 0;

            @include vp-1439 {
                font-size: 42px;
            }

            @include vp-1023 {
                font-size: 30px;
            }

            &-text {
                font-size: 15px;
                line-height: 18px;
                color: $color-text1-40;
                margin: 0 0 25px;
            }
        }

        &-link {
            border: 2px solid #BAFC00;
            width: 100%;
            display: flex;
            justify-content: center;
            border-radius: 16px;
            padding: 20px;
            font-size: 16px;
            line-height: 17px;
            font-weight: 500;
        }

        &--plus {
            border: 2px solid #BAFC00;
            // height: 103%;

            & .tariff__plan-price-text {
                margin-bottom: 15px;
            }

            & .tariff__plan-link {
                background: radial-gradient(238.93% 187.08% at -20% 110%, #27C80C 9%, #BAFC00 100%);
                font-size: 20px;
                font-weight: 600;
                color: $color-bg1;
                border: none;
            }

            & .tariff__plan-discount {
                display: flex;
                gap: 10px;
                padding: 5px;
                border-radius: 10px;
                background-color: rgba(168, 229, 69, 0.15);
                margin-bottom: 25px;

                @include vp-1023 {
                    flex-direction: column;
                    align-items: start;
                }

                &-percent {
                    background: radial-gradient(238.93% 187.08% at -20% 110%, #27C80C 9%, #BAFC00 100%);
                    border-radius: 15px;
                    padding: 6px 6px;
                    font-weight: 700;
                    font-size: 20px;
                    letter-spacing: 0.03em;
                    color: $color-bg1;
                    transform: scaleX(1.2);
                    display: flex;
                    align-items: center;
                    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);

                    @include vp-1023 {
                        margin: 0 0 0 5px;
                    }
                }

                &-text {
                    font-size: 15px;
                    line-height: 150%;
                    letter-spacing: 0.03em;
                    color: $color-text1-80;
                }

                &-sub-text {
                    font-size: 13px;
                    line-height: 17px;
                    color: $color-text1-40;

                    & span {
                        text-decoration: line-through;
                    }
                }
            }
        }

        &--business {
            border: 2px solid #414A56;

            & .tariff__plan-price-text {
                margin-bottom: 15px;
            }

            & .tariff__plan-link {
                border: 2px solid #414A56;
            }

            & .tariff__plan-discount {
                display: flex;
                gap: 10px;
                padding: 5px;
                border-radius: 10px;
                background-color: $color-text1-04;
                margin-bottom: 25px;

                @include vp-1023 {
                    flex-direction: column;
                    align-items: start;
                }

                &-percent {
                    background: radial-gradient(110.94% 210.53% at 0% 100%, #414A56 18.53%, #696B84 77.16%);
                    border-radius: 15px;
                    padding: 6px 6px;
                    font-weight: 700;
                    font-size: 20px;
                    letter-spacing: 0.03em;
                    color: $color-bg1;
                    transform: scaleX(1.2);
                    display: flex;
                    align-items: center;
                    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
                    
                    @include vp-1023 {
                        margin: 0 0 0 5px;
                    }
                }

                &-text {
                    font-size: 15px;
                    line-height: 150%;
                    letter-spacing: 0.03em;
                    color: $color-text1-80;
                }

                &-sub-text {
                    font-size: 13px;
                    line-height: 17px;
                    color: $color-text1-40;

                    & span {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}